<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container">
        <div class="d-flex">
            <a class="navbar-brand" th:href="@{/}">
                <img alt="Cloud Storage Logo" height="26" loading="lazy" th:src="@{/cloud-storage.png}"/>
            </a>
            <a class="navbar-brand" th:href="@{/}">Cloud File Storage</a>
        </div>

        <div class="d-flex align-items-center" th:unless="${username}">
            <a class="btn btn-secondary me-3" role="button" th:href="@{/login}">Login</a>
            <a class="btn btn-primary" role="button" th:href="@{/registration}">Register</a>
        </div>

        <div class="d-flex align-items-center" th:if="${username}">
            <div th:text="${username}"></div>
            <a class="btn btn-secondary ms-3" role="button" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>